.search-movies-input{
	> .prefix{
		cursor: pointer;
		&.active {
			color: #fff!important;
		}
	}
	input[type="search"]{
		&:focus,&:-internal-autofill-selected{
			&:not(.browser-default){
				background-color: #0c0c0c !important;
				color: #fff !important;
				border-bottom: 1px solid #fff!important;
			}
			&:not([readonly]){
				& + label {
					color: #fff !important;
				}
			}
		}
		&.valid{
			&:not(.browser-default){
				color: #4CAF50;
			}
		}
		& + label{
			&:not(.label-icon){
				&.active {
					transform: translateY(-20px) scale(0.8)!important;
				}
			}
		}
	}
}